.tabs {
    display: flex;
    flex-direction: column;
  }
  
  .tab-buttons {
    display: flex;
    margin-bottom: 0.5rem;
  }
  
  .tab-button {
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .tab-button.active {
    background-color: rgb(255,255,255,0.2);
    border-radius: 10px;
  }
  
  .tab-content-container {
    padding: 1rem;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }
  
  .tab-content {
    padding: 0.5rem;
    text-align: left;
  }
  
  .tab-content:target {
    display: block;
  }
  
  